.container{
  height: 60%;
  width: 60%;
}
body{
  /*background: url(http://www.coastal.com/thelook/wp-uploads/2013/07/black-rim-glasses-main1.jpg);*/
  background: url("http://static1.squarespace.com/static/552762cde4b0a6b1a31cbba5/556e7e79e4b0677012bc0752/556e7e7ee4b0677012bc075a/1433304729233/IMG_5419.JPG?format=1000w");
  background-repeat: bottom;
  background-size: cover;
}
.nav a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.col-md-4{
  /*text-align: center;*/
  display: inline;
}


.btn.outline {
    background: none;
    padding: 10px 20px;
    transition-property: background;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: gray;
    border-color: white;
    background: white;

}

.btn {
    padding: 16px 24px;
    border: 0 none;
    font-weight: 80;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    border-radius:2px;


}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


h1{
  margin-top: 50%;
  color: white;
  font-size: 100px;
}
p{
  color: white;
  font-size: 20px;
}

div #paragraph{
  text-align: center;
}

div #Be_the_first{
  text-align: center;
}

#input{

  text-align: center
}

#button1{
  margin-top: 5%;
}

#first_to_know{
  margin-top: 50%;
  font-size: 20px;
}

.btn-social{
  border-radius: 100%;
  padding: 6% 6%;
  /*transition-property: opacity;*/
  /*transition-duration: 0.25s;*/
  /*transition-timing-function: linear;*/
}

.btn-social:hover {
  /*opacity: 0.4;*/
} 

.facebook{
  background: url('assets/icons/facebook2.png');
  background-size: 100%;
}

.email{
  background: url('assets/icons/email1.png');
  background-size: 100%;
}

.instagram{
    background: url('assets/icons/insta3.png');
  background-size: 100%;
}

.twitter{
  background: url('assets/icons/twitter.png');
  background-size: 100%;
}
div .social{
  text-align: center;
  margin-top: 100px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border: solid 3px #969696;

}
